.post-card__title {
	visibility: hidden;
}

.collapsible-fieldset__content {
	visibility: hidden;
}

.post-card__title {
	visibility: hidden;
}

.post-card__summary {
	visibility: hidden;
}